HOST=0.0.0.0
PORT=1337
APP_KEYS=YOUR_APP_KEYS
API_TOKEN_SALT=YOUR_TOKEN_SALT
ADMIN_JWT_SECRET=YOUR_ADMIN_JWT
JWT_SECRET=YOUR_JWT_SECRET
DATABASE_CLIENT=sqlite
DATABASE_FILENAME=.tmp/data.db
CLOUDINARY_NAME=
CLOUDINARY_KEY=
CLOUDINARY_SECRET=
STRAPI_URL=http://localhost:1337
FRONTEND_URL=http://localhost:3000
